{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/nstrydom31"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/nstrydom1/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/nstrydom"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/nicholas-strydom-955951139/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://www.github.com/nstrydom2"><img src="{% static 'images/github-mark.svg' %}" alt="..."></a></li>
        <li><a href="https://profile.codersrank.io/user/nstrydom2/"><img src="{% static 'images/codersrank-black.svg' %}" alt="..."></a></li>
        <li><a href="https://www.codecademy.com/profiles/nstrydom"><img src="{% static 'images/codecademy-icon.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Inspired by a <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->